version: "3"
services:
  database:
    container_name: tgs-database-dev
    image: postgres:alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "${DB_PASSWORD:?missing DB_PASSWORD}"
      POSTGRES_USER: "${DB_USER:?missing DB_USER}"
      POSTGRES_DB: "${DB_DATABASE:?missing DB_DATABASE}"
    ports:
      - 5432:5432
    volumes:
      - ./db-data:/var/lib/postgresql/data

  adminer:
    container_name: tgs-adminer-dev
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080

  bot-api:
    container_name: tgs-bot-api-dev
    build: https://github.com/billy4479/telegram-bot-api.git
    restart: unless-stopped
    environment:
      TELEGRAM_API_ID: "${TELEGRAM_API_ID:?missing TELEGRAM_API_ID}"
      TELEGRAM_API_HASH: "${TELEGRAM_API_HASH:?missing TELEGRAM_API_HASH}"
      TELEGRAM_LOCAL: "yes"
      TELEGRAM_VERBOSITY: "1"

  frontend:
    container_name: tgs-frontend-dev
    build:
      context: .
      dockerfile: Dockerfile.frontend.dev
      args:
        port: "${FRONTEND_PORT:-3000}"
    restart: unless-stopped
    ports:
      - ${FRONTEND_PORT:-3000}:${FRONTEND_PORT:-3000}
    environment:
      BACKEND_PORT: "${PORT:-4479}"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app

  backend:
    container_name: tgs-backend-dev
    build:
      context: .
      dockerfile: Dockerfile.backend.dev
    ports:
      - ${PORT:-4479}:${PORT:-4479}
    depends_on:
      - db
      - bot-api
    restart: unless-stopped
    environment:
      DB_PASSWORD: "${DB_PASSWORD:?missing DB_PASSWORD}"
      DB_USER: "${DB_USER:?missing DB_USER}"
      DB_DATABASE: "${DB_DATABASE:?missing DB_DATABASE}"
      DB_HOST: "database"
      SECRET: "${SECRET:?missing SECRET}"
      PORT: "${PORT:-4479}"
      TELEGRAM_TOKEN: "${TELEGRAM_TOKEN:?missing TELEGRAM_TOKEN}"
    volumes:
      - ./backend:/app/backend

volumes:
  backend:
  frontend:
  db-data:
